.center {
	justify-content: center;
	align-items: center;
}

.flex {
	display: flex;
}

.row {
	flex-direction: row;
}

.col {
	flex-direction: column;
}

.flex-lg {
	flex: 3;
}
.flex-md {
	flex: 2;
}

.flex-sm {
	flex: 1;
}